######################################
# Build results
######################################
bin/
obj/
out/

######################################
# Visual Studio
######################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

######################################
# Rider / VS Code (if used)
######################################
.idea/
.vscode/

######################################
# ASP.NET Core
######################################
appsettings.Development.json
appsettings.*.json

# Logs
logs/
*.log

######################################
# Publish output
######################################
publish/
wwwroot/dist/
wwwroot/lib/

######################################
# Entity Framework
######################################
*.dbmdl
*.jfm

######################################
# NuGet
######################################
*.nupkg
*.snupkg
packages/
.nuget/

######################################
# OS files
######################################
Thumbs.db
Desktop.ini
.DS_Store

######################################
# Test Results
######################################
TestResults/
*.trx
*.coverage

######################################
# Dotnet tools
######################################
.dotnet/

######################################
# Resharper
######################################
_ReSharper*/
*.DotSettings.user
